# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized

Some of the popular languages that Data Scientists use are:

**Data Science Languages**
1. Python  
2. SQL 
3. R

Some of the commonly used libraries used by Data Scientists include:

**Data Science Libraries**

1. Pandas
2. Matplotlib
3. Numpy

|Data Science Tools|
|------------------|
|MySQL|
|PostgreSQL|
|MongoDB|

### Below are a few examples of evaluating arithmetic expressions in Python

In [8]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [10]:
#This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

**Objectives:**

List other languages for Data Science

-Java

-Scala

-C++

## Author

Chynna Louise M. Stephens